@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
  --background: #171b44;
  --font-dark: #2f2620;
  --font-light: #E0E5E9;
  --accent: #f3D849;
  --link: #0A62D0;
  --header: #191718;

  background-color: var(--background);
  font-family: "Outfit", Arial, sans-serif;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}