@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
  --background: #013b7f;
  --font-light: #ffffff;
  --font-header: #ffc500;
  --body: #1d2127;
  --accent: #00a2ff;
  --success-green: #00ba00;
  --fail-red: #cd0000;

  background-color: var(--background);
  color: var(--font-light);
  font-family: "Outfit", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  place-items: center;
  margin: 0;
  padding: 0;
}

h1, h2, a {
  color: var(--font-header);
}

a {
  text-decoration: none;
}

button {
  background-color: var(--accent);
  border: 1px solid transparent;
  font-family: inherit;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
button:hover {
  background-color: #0089d9;
}
button:active {
  background-color: #005f97;
}

#title, #title img, #title h1 {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
}

#title {
  display: flex;
  margin: 20px 0;
  place-self: center;
}

#title img{
  height: 115px;
}

#title h1 {
  font-size: 2.25rem;
  color: #ffd045;
  background-color: #ae783d;
  text-shadow: 3px 2px #6f4319;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  transform: rotate(-5deg);
  box-shadow: 3px 3px #6f4319;
}

#web-layout {
 display: flex;
 justify-content: center;
 align-items: center;
}

.right-cont {
  display: flex;
  flex-direction: column;
  align-self: start;
  align-items: center;
  max-width: 450px;
  place-self: center;
  margin: 0 30px;
}

.description {
  background-color: var(--body);
  border-radius: 5px;
  margin: 20px 0;
  padding: 15px;
  text-align: justify;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

@media (max-width: 1200px) {
  #web-layout {
    flex-direction: column;
    justify-content: center;
  }

  .right-cont {
    margin: 50px 0 0 0;
  }
}

@media (max-width: 650px) {
  #logo-ac {
    display:none;
  }

  #page{
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .right-cont {
    margin: 0;
  }
}

