#canvas {
  position: relative;
  background-image: url("/grass_winter.png");
}

#canvas .icon-random, .icon-target{
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
}

.icon-random, .icon-target {
  position: absolute;
  border-radius: 100%;
}

.game-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.game-scoreboard {
  display: flex;
  flex-direction: column;
}

.icon-random {
  /* border: 1px solid blue; */
}

.icon-target {
  /* border: 3px solid rgb(0, 255, 8); */
  /* background-color: rgb(0, 255, 8); */
  /* cursor:pointer; */
}

button {
  margin: 5px 5px 5px 0px;
  padding: 5px;
  color: white;
  border: none;
  border-radius: 5px;
}

.btn-start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 40px;
  font-size: 24px;
  cursor: pointer;
  z-index: 10;
}

.btn-reset {
  background-color: red;
}