#canvas {
  border: 1px solid red;
  position: relative;
  background-image: url("/grass_winter.png");
}

.icon-random, .icon-target{
  position: absolute;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  border-radius: 100%;
}

.icon-random {
  /* border: 1px solid blue; */
}

.icon-target {
  /* border: 3px solid rgb(0, 255, 8);
  background-color: rgb(0, 255, 8);
  cursor:pointer; */
}

button {
  margin-right: 10px;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 5px;
}

.btn-random {
  background-color: blue;
}

.btn-target {
  background-color: green;
}

.btn-reset {
  background-color: red;
}